<div class="right" [ngClass]="{'dark':theme === 'dark' && layout === 'topmenu'}">

<!--  <pro-header-search></pro-header-search>-->

  <!--tip-->
  <a nz-tooltip [nzTitle]="'component.globalHeader.help' | translate"
     target="_blank"
     href="https://pro.ant.design/docs/getting-started"
     rel="noopener noreferrer"
     class="action">
    <i nz-icon nzType="question-circle-o"></i>
  </a>

  <pro-notice-icon-view></pro-notice-icon-view>
  <pro-avatar-dropdown></pro-avatar-dropdown>
  <pro-select-lang></pro-select-lang>
</div>
