<ul nz-menu
    [ngStyle]="style"
    [nzMode]="mode"
    [nzTheme]="theme"
    [ngClass]="{'top-nav-menu': mode === 'horizontal'}"
    [nzInlineCollapsed]="collapsed">
  <!--第一层-->
  <ng-container *ngFor="let menuData of menuData">
    <ng-container *ngIf="menuData.children; else: elseTemplate1">
      <li nz-submenu
          *aclIf="menuData.guard"
          (nzOpenChange)="onOpenChange($event, menuData)"
          [nzOpen]="openKeys.has(menuData.path) && mode === 'inline'">
        <span title>
            <i *ngIf="menuData.icon;" nz-icon [nzType]="menuData.icon"></i>
              <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
              <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
        </span>
        <!--第二层-->
        <ul>
          <ng-container *ngFor="let menuData of menuData.children">
            <ng-container *ngIf="menuData.children; else: elseTemplate2">
              <li nz-submenu
                  *aclIf="menuData.guard"
                  (nzOpenChange)="onOpenChange($event, menuData)"
                  [nzOpen]="openKeys.has(menuData.path) && mode === 'inline'">
                  <span title>
                    <i *ngIf="menuData.icon;" nz-icon [nzType]="menuData.icon"></i>
                    <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                    <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                  </span>
                <!--第三层,只有 nz-menu-item -->
                <ul>
                  <ng-container *ngFor="let menuData of menuData.children">
                    <li nz-menu-item
                        *aclIf="menuData.guard"
                        [nzMatchRouter]="true">
                      <ng-container *ngIf="menuData.external">
                        <a *ngIf="!menuData.externalClick" [href]="menuData.path" target="_blank">
                          <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                          <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                          <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                        </a>
                        <a *ngIf="menuData.externalClick" (click)="menuData.externalClick(menuData)">
                          <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                          <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                          <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                        </a>
                      </ng-container>
                      <a *ngIf="!menuData.external" [routerLink]="menuData.path">
                        <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                        <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                        <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
            <ng-template #elseTemplate2>
              <li nz-menu-item
                  *aclIf="menuData.guard"
                  [nzMatchRouter]="true">
                <ng-container *ngIf="menuData.external">
                  <a *ngIf="!menuData.externalClick" [href]="menuData.path" target="_blank">
                    <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                    <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                    <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                  </a>
                  <a *ngIf="menuData.externalClick" (click)="menuData.externalClick(menuData)">
                    <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                    <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                    <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                  </a>
                </ng-container>
                <a *ngIf="!menuData.external" [routerLink]="menuData.path">
                  <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
                  <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
                  <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
                </a>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </li>
    </ng-container>
    <ng-template #elseTemplate1>
      <li nz-menu-item
          *aclIf="menuData.guard"
          [nzMatchRouter]="true">
        <ng-container *ngIf="menuData.external">
          <a *ngIf="!menuData.externalClick" [href]="menuData.path" target="_blank">
            <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
            <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
            <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
          </a>
          <a *ngIf="menuData.externalClick" (click)="menuData.externalClick(menuData)">
            <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
            <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
            <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
          </a>
        </ng-container>

        <a *ngIf="!menuData.external" [routerLink]="menuData.path">
          <i *ngIf="menuData.icon" nz-icon [nzType]="menuData.icon"></i>
          <span *ngIf="menuData.locale">{{ menuData.locale | translate }}</span>
          <span *ngIf="!(menuData.locale)">{{ menuData.name }}</span>
        </a>
      </li>
    </ng-template>
  </ng-container>
</ul>





