<pro-page-header-wrapper [content]="content" [extraContent]="extraContent">
  card-list.component.html
</pro-page-header-wrapper>

<ng-template #content>
  <div class="pageHeaderContent">
    <p>
      段落示意：蚂蚁金服务设计平台 ant.design，用最小的工作量，无缝接入蚂蚁金服生态，
      提供跨越设计与开发的体验解决方案。
    </p>
    <div class="contentLink">
      <a>
        <img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/MjEImQtenlyueSmVEfUD.svg" />
        快速开始
      </a>
      <a>
        <img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/NbuDUAuBlIApFuDvWiND.svg" />
        产品简介
      </a>
      <a>
        <img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/ohOEPSYdDTNnyMbGuyLb.svg" />
        产品文档
      </a>
    </div>
  </div>
</ng-template>

<ng-template #extraContent>
  <div class="extraImg">
    <img
      alt="这是一个标题"
      src="https://gw.alipayobjects.com/zos/rmsportal/RzwpdLnhmvDJToTdfDPe.png"
    />
  </div>
</ng-template>

