<pro-grid-content>
  <div nz-row nzGutter="24">
    <div nz-col nzXl="18" nzLg="24" nzMd="24" nzSm="24" nzXs="24" style="margin-bottom: 24px">
      <nz-card nzTitle="活动实时交易情况" [nzBordered]="false">
      </nz-card>
    </div>
    <div nz-col nzXl="6" nzLg="24" nzMd="24" nzSm="24" nzXs="24">
      <nz-card nzTitle="活动情况预测" [nzBordered]="false" style="margin-bottom: 24px">
        <app-active-chart></app-active-chart>
      </nz-card>
      <nz-card nzTitle="券核效率" [nzBordered]="false" style="margin-bottom: 24px" [nzBodyStyle]="{'text-align':'center'}">
      </nz-card>
    </div>
  </div>

  <div nz-row nzGutter="24">
    <div nz-col nzXl="12" nzLg="24" nzMd="24" nzSm="24" nzXs="24" style="margin-bottom: 24px">
      <nz-card nzTitle="各品类占比" [nzBordered]="false" class="pieCard">
      </nz-card>
    </div>
    <div nz-col nzXl="6" nzLg="24" nzMd="24" nzSm="24" nzXs="24" style="margin-bottom: 24px">
      <nz-card nzTitle="热门搜索" [nzBordered]="false" [nzLoading]="true" [nzBodyStyle]="{'overflow':'hidden'}">
      </nz-card>
    </div>
    <div nz-col nzXl="6" nzLg="24" nzMd="24" nzSm="24" nzXs="24" style="margin-bottom: 24px">
      <nz-card nzTitle="资源剩余" [nzBordered]="false" [nzBodyStyle]="{'text-align':'center','font-size':0}">
      </nz-card>
    </div>
  </div>
</pro-grid-content>
