<pro-basic-layout [logo]="settings.logo"
                  [title]="settings.title"
                  [navTheme]="settings.navTheme"
                  [fixSiderbar]="settings.fixSiderbar"
                  [fixedHeader]="settings.fixedHeader"
                  [autoHideHeader]="settings.autoHideHeader"
                  [contentWidth]="settings.contentWidth"
                  [layout]="settings.layout"
                  [reuseTab]="settings.reuseTab"
                  [menuData]="menuData"
                  [rightContentRender]="rightContentRender"
                  [mode]="'inline'"
                  (onMenuHeaderClick)="menuHeaderClick($event)"
                  (onCollapse)="collapse($event)"
                  [links]="footer.links"
                  [copyright]="copyRightTemplate">
  <router-outlet></router-outlet>
</pro-basic-layout>

<!--<pro-setting-drawer [settings]="settings" (onSettingChange)="settingChange($event)"></pro-setting-drawer>-->

<ng-template #rightContentRender let-context>
  <pro-right-content [theme]="context.theme" [layout]="context.layout"></pro-right-content>
</ng-template>

<ng-template #linkIconTemplate>
  <i nz-icon nzType="github" nzTheme="outline"></i>
</ng-template>

<ng-template #copyRightTemplate>
  <ng-container>
    Copyright <i nz-icon nzType="copyright"></i> {{footer.copyright}}
  </ng-container>
</ng-template>
