<!--<div class="{{prefixedClassName}}-input" [ngClass]="{'antd-pro-components-header-search-index-show':searchMode }">-->
<!--  <input nz-input-->
<!--         [(ngModel)]="inputValue"-->
<!--         (input)="onInput($event)"-->
<!--         [nzAutocomplete]="auto"-->
<!--         [placeholder]="placeholder"-->
<!--         (keydown)="onKeyDown()"-->
<!--         (blur)="leaveSearchMode()"-->
<!--         #input/>-->
<!--</div>-->
<!--<nz-autocomplete nzBackfill #auto>-->
<!--  <nz-auto-option *ngFor="let option of options" [nzValue]="option" (click)="onSearch(option)">-->
<!--    {{option}}-->
<!--  </nz-auto-option>-->
<!--</nz-autocomplete>-->

<span class="action search headerSearch"
      (click)="enterSearchMode($event)">
  <i nz-icon nzType="search"></i>
</span>
