<div class="main">
  <h3>{{ 'user-register.register.register' | translate }}</h3>

  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="mailErrorTpl">
        <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
          <input nz-input formControlName="mail" [placeholder]="'user-register.register.register' | translate"/>
        </nz-input-group>
        <ng-template #mailErrorTpl let-control>
          <ng-container *ngIf="mail.errors?.required">{{ 'user-register.email.required' | translate }}</ng-container>
          <ng-container *ngIf="mail.errors?.email">{{ 'user-register.email.wrong-format' | translate }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <div
          nz-popover
          [nzPlacement]="'right'"
          [nzTrigger]="'focus'"
          [(nzVisible)]="visible"
          nzOverlayClassName="register-password-cdk"
          [nzOverlayStyle]="{ 'width.px': 240 }">
          <nz-input-group nzSize="large" nz-popover nzAddonBeforeIcon="lock">
            <input nz-input type="password" formControlName="password"
                   [placeholder]="'user-register.password.placeholder' | translate"/>
          </nz-input-group>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="password.dirty && password.errors">
              {{'user-register.password.required' | translate}}
            </ng-container>
          </ng-template>
          <ng-template #nzTemplate>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | translate }}</div>
                <div *ngSwitchCase="'pass'"
                     class="warning">{{ 'validation.password.strength.medium' | translate }}</div>
                <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | translate }}</div>
              </ng-container>
              <div class="progress-{{ status }}">
                <nz-progress
                  [nzPercent]="progress"
                  [nzStatus]="passwordProgressMap[status]"
                  [nzStrokeWidth]="6"
                  [nzShowInfo]="false"
                ></nz-progress>
              </div>
              <p class="mt-sm">{{ 'user-register.strength.msg' | translate }}</p>
            </div>
          </ng-template>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="confirmErrorTpl">
        <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
          <input nz-input type="password" formControlName="confirm"
                 [placeholder]="'user-register.confirm-password.placeholder' | translate"/>
        </nz-input-group>
        <ng-template #confirmErrorTpl let-control>
          <ng-container *ngIf="confirm.errors.required">
            {{ 'user-register.confirm-password.required' | translate }}
          </ng-container>
          <ng-container *ngIf="confirm.errors.equar">
            {{ 'user-register.password.twice' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="mobileErrorTpl">
        <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="mobilePrefix" style="width: 100px;">
              <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
              <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="mobile" nz-input
                 [placeholder]="'user-register.phone-number.placeholder' | translate"/>
        </nz-input-group>
        <ng-template #mobileErrorTpl let-control>
          <ng-container *ngIf="mobile.errors.required">
            {{ 'user-register.phone-number.required' | translate }}
          </ng-container>
          <ng-container *ngIf="mobile.errors.pattern">
            {{ 'user-register.phone-number.wrong-format' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="captchaErrorTpl">
        <nz-row [nzGutter]="8">
          <nz-col [nzSpan]="16">
            <nz-input-group nzSize="large" nzAddonBeforeIcon="mail">
              <input nz-input formControlName="captcha"
                     [placeholder]="'user-register.verification-code.placeholder' | translate"/>
            </nz-input-group>
            <ng-template #captchaErrorTpl let-control>
              <ng-container *ngIf="captcha.dirty && captcha.errors">
                {{ 'user-register.verification-code.required' | translate }}
              </ng-container>
            </ng-template>
          </nz-col>
          <nz-col [nzSpan]="8">
            <button
              type="button"
              nz-button
              nzSize="large"
              (click)="getCaptcha()"
              [disabled]="count"
              nzBlock
              [nzLoading]="isLoading"
            >
              {{ count ? count + 's' : ('user-register.register.get-verification-code' | translate) }}
            </button>
          </nz-col>
        </nz-row>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="isLoading" class="submit">
        {{ 'user-register.register.register' | translate }}
      </button>
      <a class="login" routerLink="/user/login">{{ 'user-register.register.sign-in' | translate }}</a>
    </nz-form-item>
  </form>
</div>
